.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
h1{
    color:rgb(122, 52, 52);
}
.nowrap {
    white-space: nowrap;
}
.title{
    color:rgb(43, 9, 9);
}
.mainhome{
    border:3px;
    border-style:solid;
    border-color:rgb(218, 213, 213);
    padding: 1px;
    width:auto;
}
body {
    background-image: url("images/background2.jpg");
    background-size: cover;
    background-color: #cccccc;
   }
.mainfoodimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:640px;
    height:800px;
}
#maintitle,.title{
    font-weight:bold;
    font-size: 28px;
    color:rgb(182, 16, 10);
}
.title,
.ingreds,
.steps{
font-family:Verdana,sans-serif
}
.ingreds,
.steps{
    font-size:20px;
}
.title{
    color:red;
}
.ingreds{
    color:green;
}
.steps{
color:blue;
}